[Desktop Entry]
Encoding=UTF-8
Name=KesDict
Comment=SpanishDict dictionary plasmoid
Type=Service
Icon=languages

X-KDE-Library=plasma_applet_tutorial
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Symeon Huang
X-KDE-PluginInfo-Email=symeon@librehat.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=com.librehat.kesdict
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/librehat/kesdict
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Language
